@model Dictionary<string,Setting>

<div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
    <i class="bi bi-phone d-flex align-items-center"><span>@Model["Number"].Value</span></i>
    <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>@Model["Work_Time"].Value</span></i>
</div>